<div class="container sticky-top" style="top: 1.5rem;">
  {% load static %}
  <img class="w-25 rounded-circle my-4" src="{% static 'img/me.png' %}">
  <p><b>Семён Сыроватский</b></p>
  <p>Аспирант физического факультета МГУ имeни М.В. Ломоносова.</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="https://vk.com/id34885502" target="_blank"><small>Вконтакте</small></a></li>
    <li class="list-inline-item"><a href="https://t.me/jonathanblade" target="_blank"><small>Telegram</small></a></li>
    <li class="list-inline-item"><a href="https://github.com/jonathanblade" target="_blank"><small>Github</small></a></li>
  </ul><hr>
  <ul class="navbar-nav">
    {% url "home" as url %}
    <li class="_nav-item {% if request.path == url %}active{% endif %}"><a class="_nav-link" href="{% url 'home' %}">Главная</a></li>
    {% url "education" as url %}
    <li class="_nav-item {% if request.path == url %}active{% endif %}"><a class="_nav-link" href="{% url 'education' %}">Образование</a></li>
    {% url "publications" as url %}
    <li class="_nav-item {% if request.path == url %}active{% endif %}"><a class="_nav-link" href="{% url 'publications' %}">Публикации</a></li>
  </ul>
</div>