<!DOCTYPE html>
<html>
<head>
    <title>Django project</title>
    {% include "includes/metatags.html" %}
    {% include "includes/stylesheets.html" %}
</head>
<body>
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-xl-3 mt-4">{% include "includes/main-panel.html" %}</div>
			<div class="col-12 col-xl-5 mt-4">{% block content %}{% endblock content %}</div>
		</div>
	</div>
	{% include "includes/footer.html" %}
    {% include "includes/scripts.html" %}
</body>
</html>