{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="mb-4">Основное</h3>
    <div class="row row-cols-1 row-cols-xl-3">
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title">
                        <h5><strong>Бакалавриат</strong></h5><hr>
                        <small>
                            <i class='fas fa-university'></i> Иркутский государственный университет, физический факультет<br>
                            <i class='fas fa-calendar-alt'></i> <span class='badge badge-dark'>2014 - 2018</span>
                        </small>
                    </div><hr>
                    <div class="card-text">
                        <small>
                            <strong>Специальность</strong><br>
                            <span class="text-muted">03.03.03 Радиофизика</span><br>
                            <strong>Направление</strong><br>
                            <span class="text-muted">Телекоммуникационные системы и информационные технологии</span><br>
                            <strong>Дипломная работа</strong><br>
                            <a href="http://eportfolio.isu.ru/sites/default/files/userdata/4118/7/7_work_4118_6.pdf" target="_blank">Влияние солнечных вспышек на ионосферу Земли в 24-ом цикле солнечной активности</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title">
                        <h5><strong>Магистратура</strong></h5><hr>
                        <small>
                            <i class='fas fa-university'></i> Московский государственный университет имени М.В. Ломоносова, физический факультет<br>
                            <i class='fas fa-calendar-alt'></i> <span class='badge badge-dark'>2018 - 2020</span>
                        </small>
                    </div><hr>
                    <div class="card-text">
                        <small>
                            <strong>Специальность</strong><br>
                            <span class="text-muted">03.04.02 Физика</span><br>
                            <strong>Направление</strong><br>
                            <span class="text-muted">Физика атмосферы и околоземного космического пространства</span><br>
                            <strong>Дипломная работа</strong><br>
                            <a href='https://github.com/jonathanblade/master-diploma' target='_blank'>Оценка точности позиционирования GPS при естественных и искусственных возмущениях ионосферы</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title">
                        <h5><strong>Аспирантура</strong></h5><hr>
                        <small>
                            <i class='fas fa-university'></i> Московский государственный университет имени М.В. Ломоносова, физический факультет<br>
                            <i class='fas fa-calendar-alt'></i> <span class='badge badge-dark'>2020 - 2023</span>
                        </small>
                    </div><hr>
                    <div class="card-text">
                        <small>
                            <strong>Специальность</strong><br>
                            <span class="text-muted">05.06.01 Науки о Земле</span><br>
                            <strong>Направление</strong><br>
                            <span class="text-muted">Физика атмосферы и гидросферы</span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mb-4">Дополнительное</h3>
    <div class="row row-cols-1 row-cols-xl-3">
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title">
                        <h5><strong>Профессиональная переподготовка</strong></h5><hr>
                        <small>
                            <i class='fas fa-university'></i> Иркутский государственный университет, физический факультет<br>
                            <i class='fas fa-calendar-alt'></i> <span class='badge badge-dark'>2017 - 2018</span>
                        </small>
                    </div><hr>
                    <div class="card-text">
                        <small>
                            <strong>Специальность</strong><br>
                            <span class="text-muted">10.03.00 Информационная безопасность</span><br>
                            <strong>Аттестационная работа</strong><br>
                            <span class="text-muted">Пакетный фильтр iptables</span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}