{% extends "base.html" %}

{% block title %}Главная | Семён Сыроватский{% endblock %}

{% block content %}
<div class="container text-justify">
	<h3 class="my-4">Приветствую!</h3>
	<p>Меня зовут Семён. В настоящее время мне 24 года и я являюсь аспирантом физического факультета МГУ имени М.В. Ломоносова. По совместительству работаю инженером-программистом в ИСЗФ СО РАН (г. Иркутск).</p>
    <p>Меня увлекает Open Source и Linux. Основной язык программирования - Python. Но, помимо этого, имею опыт работы с Bash и C++. Знаком с системами Git и Trello. Уровень английского - что-то между Pre-Intermediate и Intermediate.</p>
    <p>За время обучения в бакалавриате и магистратуре я активно учувствовал в научной и культурно-массовой жизни вуза. Особо привлекательным направлением деятельности для меня является работа в команде над интересными проектами. В свободное время принимаю участие в интеллектуальных играх наподобие "Что? Где? Когда?", занимаюсь в тренажёрном зале и посещаю бассейн.</p>
</div>
{% endblock content %}